table td{
    border: 1px solid black;
}

.white{

    height: 50px;
    background-color:#FFFFFF;
    width: 100px;
}

#green{
 background-color:#046A38;
 height: 100px;
 
}

#orange{
    height: 100px;
    background-color: #FF671F;
}

#chakra{
   
}

h1{
    background-color: rgba(218, 185, 237, 0.962);
}